.form-group .eye i{
	position:absolute;
	right:23px;	
	text-align:center;
	color:#acacac;
	font-size:1.0rem;
	background:none;
	margin-top:-28px;
}

.form-group #hide1{
	display:none;
}
.form-group #hide3{
	display:none;
}
.form-group #hide5{
	display:none;
}